#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file
	appstreamcli validate --pedantic --no-net debian/io.github.spoje_net.php_hspdev_huaweiapi.metainfo.xml

override_dh_prep:
	rm -rf docs
	phpdoc -d src
	mkdir -p docs ; mv .phpdoc/build/* docs
	dh_prep

#override_dh_auto_test:
#	composer update --no-ansi --no-interaction --no-progress --no-scripts --optimize-autoloader
#	./vendor/bin/phpunit --bootstrap tests/Bootstrap.php 
#	dh_auto_test


override_dh_install:
	dh_install
	install -m 644 debian/autoload.php debian/php-hspdev-huaweiapi/usr/share/php/HuaweiApi/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-hspdev-huaweiapi/usr/share/php/HuaweiApi/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-hspdev-huaweiapi/usr/share/php/HuaweiApi/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" debian/php-hspdev-huaweiapi/usr/share/php/HuaweiApi/autoload.php
	sed -i "s|\"version\": \"[^\"]*\"|\"version\": \"$(PKG_VERSION)\"|" debian/php-hspdev-huaweiapi/usr/share/php/HuaweiApi/composer.json
