#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_prep:
	composer install
	rm -rf docs
	phpdoc -d src
	mkdir -p docs ; mv .phpdoc/build/* docs
	dh_prep

#override_dh_auto_test:
#	composer update --no-ansi --no-interaction --no-progress --no-scripts --optimize-autoloader
#	./vendor/bin/phpunit --bootstrap tests/Bootstrap.php 
#	dh_auto_test


override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/composer.json |sponge debian/composer.json
	dh_install
